.app {
  height: 100vh;
  width: 100vw;
  background: #eceffc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Microsoft YaHei", serif;
  font-size: 16px;
  border-radius: 8px;
}

.form-input-material {
  margin: 18px 0;
  position: relative;
}

.form-control-material {
  padding: 5px 0;
  background: none;
  border: none;
  outline: none;
  color: white;
}

.form-control-material:focus {
  border: none;
}

label {
  position: absolute;
  bottom: 30px;
  left: 0;
  font-size: 12px;
  margin-bottom: 16px;
  padding-top: 10px;
}

.btn-ghost {
  background: none;
  overflow: hidden;
  color: aqua;
  border: 1px solid aqua;
}

.btn-ghost:hover {
  color: aqua;
}

.warning {
  color: rgb(206, 55, 55);
  font-size: 12px;
  text-align: left;
}

.success-message {
  color: rgb(55, 206, 55);
}

.invalid-email {
  border: 1px solid rgb(206, 55, 55);
}
