<!DOCTYPE html>
<html lang="en" ng-app="mpaaAssignment">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Angular JS Assignments</title>
        <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="app.css">
        <script src="./node_modules/angular/angular.js"></script>
        <script src="app.module.js"></script>
        <script src="./controllers/assignment.controller.js"></script>
        <script src="./directives/email-validator.directive.js"></script>
        <script src="./directives/range-validator.directive.js"></script>
    </head>
    <body class="app">
        <div ng-controller="assignmentController">
            <form action="/" class="email-form" name="emailForm">
                <div class="form-input-material">        
                    <input class="form-control-material"
                        validate-email
                        email-submitted="emailSubmitted"
                        type="email"
                        ng-model="email"
                        id="email"
                        autocomplete="off"
                        name="email">
                    <label for="email">Email</label>
                </div> 

                <span class="warning pb-2" ng-show="emailForm.email.$error.emailInvalid">Invalid email!</span>

                <span class="warning pb-2 success-message"
                    ng-show="!emailForm.email.$dirty && emailSubmitted && !emailForm.email.$error.emailInvalid">
                    Email submitted successfully!
                </span>                       

            
                <div class="form-input-material">                    
                    <label for="rangeData" class="position-static">Value (between 0-100):</label>
                    <input type="text" 
                        name="rangeData"
                        id="rangeData"
                        class="form-control-material"
                        ng-model="size"
                        min="0"
                        max="100"
                        validate-range
                        ng-model-options="{'debounce': 500 }">
                </div>                
    
                <div class="form-input-material ">                    
                    <label for="tempRange" class="position-static">Value outside Range (0-100):</label>
                    <input type="text" 
                        name="tempRange"
                        id="tempRange"
                        class="form-control-material"
                        ng-model="rangeValue"
                        validate-range
                        ng-model-options="{'debounce': 200 }">
                </div>

                <button type="button"
                        class="btn btn-ghost"
                        ng-show="emailForm.email.$dirty && emailForm.email.$error.valueEmpty
                         && !emailForm.email.$error.emailInvalid"
                        ng-click="emailSubmit()">Submit</button>
            </form>
        </div>
    </body>
</html>